/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *	{
 	margin: 0;
 	padding: 0;
 }

 html{
 	background: url('empty-studio1.jpg') no-repeat center center fixed;
 }

header{
	width: 100vw;
	height: 15vh;
	margin-bottom: 1em;
	background: rgba(157, 164, 166, .6);
}

 header ul{
 	list-style: none;
 }

 header li {
 	text-decoration: none;
 	display: inline-block;
 }

.logo{
	width: 5em;
	height: 5em;
	background: url('icon-1.png');
	background-size: cover;
	display: inline-block;
	margin: 1vh 0 0 5em;
}

a, a:visited{
	text-decoration: none;
	color: #000;
}

.nav ul{
 list-style: none;
}

.nav li {
 color: white;
 text-decoration: none;
 display: inline-block;
}

.nav-links{
	margin: 0 0 0 11em;
	color: #000;
	font-size: 1.6em;
}

.sign-up-prompt{
	width: 98vw;
	font-size: 1.2em;
}

.logged-info{
	width: 30vw;
	height: 8vh;
}