// Place all the styles related to the contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contributor-show-container{
	width: 100vw;
	position: relative;
	top: 15vh;
}

.cont-show-info{
	width: 35vw;
	margin: 0 3em 0 6.5em;
	display: inline-block;
	float: left;
	padding: 1em;
	border: 3px outset rgba(39, 40, 34, 1.00);
	background: rgba(39, 40, 34, .6);
}

.cont-show-info img{
	margin-left: 1.3em;
	border: 3px outset rgba(39, 40, 34, 1.00);
}

.cont-show-bio{
	width: 98vw;
	margin: 3em auto;
}

.cont-show-epi-rand{
	width: 40vw;
	display: inline-block;
	background: #000;
	padding: 1em 1em;
	color: #fff;
	margin-bottom: 5em;
}

.cont-show-video{
	width: 40vw;
	height: 55vh;
	margin: 0 auto;
}

.twitter-container{
	width: 500px;
	height: 600px;
	overflow: scroll;
	float: right;
	margin: 0 10em 2em 0;
}



// .homepage-random-episode{
// 	width: 100vw;
// 	background: #000;
// }

// .random-episode-container{
// 	width: 45vw;
// 	margin: 0 0 0 3em;
// 	padding-left: 1.5em;
// 	display: inline-block;
// 	background: #000;
// 	color: #fff;
// }


// .contributor-index-container h2{
// 	margin: 0em 0 .3em 3em;
// 	font-size: 2.5em;
// }

// .contributor-info{
// 	width: 5em;
// }
