	// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing-container{
	width: 99vw;
	height: 100vh;
	background: url('prod-set-bg.jpg') no-repeat center center fixed;
	z-index: 10;
}

// header{
// 	position: fixed;
// }

.home-logo{
	width: 5em;
	height: 5em;
	background: url('icon-1.png');
	background-size: cover;
	display: inline-block;
	margin: 1vh 0 0 5em;
}

a, a:visited{
	text-decoration: none;
}

.nav{
	position: fixed;
	width: 100vw;
	height: 15vh;
	// background: rgba(171, 19, 29, .95);
	z-index: 100;
}

.nav ul{
	list-style: none;
}


.nav li{
	margin: 0 0 0 1em;
	color: #000;
	font-size: 1.6em;
}

#brand{
	width: 22em;
	margin: 10em 0 1em 12em;
	display: inline-block;
}

#brand-name{
	font-size: 7em;
	font-family: 'Roboto Slab', serif;
	display: inline;
}

.homepage-video-container{
	width: 100vw;
	height: 70vh;
	background: #000;
	color: #fff;
}

.homepage-video-info{
	position: relative;
	top: -13.5em;
	left: 2em;
	width: 19em;
	color: #fff;
	display: inline-block;
}

.homepage-video-info h3{
	margin: 2vh 0 0 0;
}

.homepage-video2-info{
	position: relative;
	top: -11em;
	left: 2.5em;
	width: 19em;
	color: #fff;
	display: inline-block;
}

.homepage-video2-info h3{
	margin: 2vh 0 1.5vh 0;
}


.homepage-video{
	width: 70vw;
	display: inline-block;
}

.homepage-episode{
	width: 65vw;
	height: 70vh;
	margin: 0 0 2em 1em;
	display: inline-block;
}


.contributor-instance{	
	margin: .5vh .8em;
	float: left;
}


.contributor-index-container{
	width: 95vw;
	margin: 0 auto;
	text-align: center;
	padding-top: 1em;
}

.contributor-index-container h3{
	text-align: left;
	margin: 0 0 .7em 6em;
	font-size: 2em;
}

footer{
	margin: 1.7em 0 0 0;
}

footer h4{
	width: 8vw;
	margin: 0 0 2vh 3vw;
}

