// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-wide-container{
	width: 100vw;
}

.homepage-video-container{
	width: 100vw;
	background: #000;
	color: #fff;
}

// give background color
.homepage-video-info{
	position: relative;
	top: -9.5em;
	left: 2em;
	width: 19em;
	height: 21em;
	color: #fff;
	display: inline-block;
}

.homepage-video-info h5{
	margin: 2vh 0 0 0;
}

.homepage-video-info img{
	margin: 2vh 0 0 1.3em;
	border: 3px inset rgba(39, 40, 34, 1.00);
}


.homepage-video{
	width: 70vw;
	display: inline-block;
	position: relative;
	left: 3.5em;
}

.homepage-video2{
	width: 70vw;
	height: 80vh;
	display: inline-block;
}

.homepage-episode{
	width: 65vw;
	height: 70vh;
	margin: 0 0 2em 1em;
	display: inline-block;
}

.show-index-container{
	width: 100vw;
	text-align: center;
	padding-top: 1em;
}

.show-index-container h3{
	text-align: right;
	margin: 0em 6em .5em 0;
	font-size: 2em;
	color: rgba(255, 255, 255, 1.00);
}

.show-instance{
	display: inline-block;
	margin: .5vh 1em;
}
.show-instance img{
	border: 4px outset rgba(39, 40, 34, 1.00);
}

.show-container{
	width: 100vw;
	position: relative;
	top: 15vh;
}

.show-show-episode-container{
	width: 100vw;
	height: 70vh;
	color: #fff;
	padding-left: .4em;
	padding-top: 4em;
	background: #000;
}

.show-episode-info{
	width: 30vw;
	margin: 3vh 2em 0 5.5em;
	display: inline-block;
	position: relative;
	bottom: 4.2em;
}

.show-episode-info img{
	margin-left: 2em; 
	border: 4px outset rgba(39, 40, 34, 1.00);
}

.show-episode-container{
	width: 55vw;
	margin: 0 auto;
	display: inline-block;
}

.show-episode-title a{
	margin-left: 1.5em;
	color: #fff;
	font-size: 1.3em;
}

.show-latest-episode{
	margin: 1vh auto;  
	background: #000;
	text-align: center;
}

.show-create-container{
	margin-top: 2em;
}




