// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-wide-container{
	width: 100vw;
}


.homepage-video-container{
	width: 100vw;
	height: 70vh;
	background: #000;
	color: #fff;
}

// give background color
.homepage-video-info{
	position: relative;
	top: -9.5em;
	left: 2em;
	width: 19em;
	height: 21em;
	color: #fff;
	display: inline-block;
}

.homepage-video-info h5{
	margin: 2vh 0 0 0;
}

.homepage-video-img-container{
	margin: 2vh 0 0 1.3em;

}

.homepage-video{
	width: 70vw;
	height: 80;
	display: inline-block;
}

.homepage-episode{
	width: 65vw;
	height: 70vh;
	margin: 0 0 2em 1em;
	display: inline-block;
}

.show-index-container{
	width: 100vw;
	text-align: center;
	background: rgba(171, 19, 29, .9);
	padding-top: 1em;
}

.show-index-container h2{
	text-align: left;
	margin: 0em 0 .3em 3em;
	font-size: 2.5em;
}

.show-instance{
	display: inline-block;
	margin: .5vh 1em;
}

.show-show-info{
	width: 30vw;
	margin: 1.6em 0 0 2.5em;
	float: left;
}

.show-latest-episode-container{
	width: 55vw;
	height: 70vh;
	margin: -.4em 0 0 3em;
	display: inline-block;
	color: #fff;
	padding-left: .4em;
}

.show-latest-episode-title a{
	margin-left: 1.5em;
	color: #fff;
	font-size: 1.3em;
}

.show-latest-episode{
	width: 90%;
	margin: 1vh auto;  
	background: #000;
	text-align: center;
}





